<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/ModuleLoader.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>
    <script src="/js/highlight_pack.js"></script>
    <script src="/js/FastHttpApi.js"></script>
    <script src="/js/Site.js"></script>
    <script src="/js/jquery_goup.js"></script>
    <script src="/js/Monitor.js"></script>
    <script src="/js/marked.js"></script>
    <script src="/js/lodash.js"></script>

    <title></title>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-left" slot="site-header">

    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-8" role="main">
                <div id="lstBlog">
                    <div class="blog-item" v-for="item in Data">
                        <div class="panel-body">
                            <h4>
                                <span v-if="item.SourceUrl" class="label label-warning">转</span>

                                <span v-else class="label label-success">原</span> <a v-bind:href="['/blog/'+item.ID+'.html']">{{item.Title}}</a>
                            </h4>
                            <div style="margin-bottom:6px;">
                                <a class="btn btn-xs"><img src="/images/date.png" />{{item.CreateTime}}</a>
                                <a :href="['/cate/'+item.CategoryID+'.html']"><img src="/images/category.png" /> {{item.Category}}</a>
                                <img src="/images/tags.png" />
                                <a v-for="tag in item.Tags" :href="['/tag/'+encodeURIComponent(tag)+'.html']" :class="[getColor()]">{{tag}}</a>
                            </div>
                            <div>{{item.Summary}}</div>
                        </div>
                    </div>

                    <nav aria-label="Page navigation">
                        <ul id="pagination" class="pagination"></ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-4 leftPack">

                <h4>关于</h4>
                <div slot="about"> </div>
                <h4>系统资源</h4>
                <div slot="system_info"> </div>
                <h4>热门标签</h4>
                <div slot="tags"></div>
                <h4>置顶</h4>
                <div slot="topBlog"></div>
                <h4>最新文章</h4>
                <div slot="newBlog"></div>
                <h4>最新评论</h4>
                <div slot="topComment"></div>
            </div>
        </div>
    </div>

    <div class="container" style="text-align:center;" slot="footer">

    </div>

    <script>

        var btnStyles = ["btn btn-default btn-xs", "btn btn-primary btn-xs",
            "btn btn-success btn-xs", "btn btn-default btn-xs", "btn btn-info btn-xs", "btn btn-warning btn-xs", "btn btn-default btn-xs", "btn btn-danger btn-xs"];
        var colorIndex = 0;
        function getColor() {
            colorIndex++;
            return btnStyles[colorIndex % btnStyles.length];
        }

        var lstBlogControl;
        $(document).ready(function () {
            lstBlogControl = new Vue({ el: '#lstBlog', data: { Data: [] } });
            search(0);
            setTimeout(function () {
                $('pre code').each(function (i, block) {
                    hljs.highlightBlock(block);
                    $('pre code').css("background-color", '#ffffff');
                    $('pre code').css("color", '#000');
                });
            }, 500);
            $.goup({
                trigger: 100,
                bottomOffset: 50,
                locationOffset: 20,
                title: '',
                titleAsText: true
            });
        });

        function pageChange(index) {
            search(index);
        }

        function search(index) {
            if (_url.fileNameWithOutExt) {
                if (_url.folder.indexOf("search") >= 0) {
                    bindVue(lstBlogControl, SiteSearch(null, null, _url.fileNameWithOutExt, index), function (c, r) {
                        c.Data = r.Data.Items;
                        pagination(index, r.Data.Pages);
                    })
                }
                else if (_url.folder.indexOf("tag") >= 0) {
                    bindVue(lstBlogControl, SiteSearch(null, _url.fileNameWithOutExt, null, index), function (c, r) {
                        c.Data = r.Data.Items;
                        pagination(index, r.Data.Pages);
                    })
                }
                else if (_url.folder.indexOf("cate") >= 0) {
                    bindVue(lstBlogControl, SiteSearch(_url.fileNameWithOutExt, null, null, index), function (c, r) {
                        c.Data = r.Data.Items;
                        pagination(index, r.Data.Pages);
                    })
                }
                else {
                    bindVue(lstBlogControl, SiteSearch(null, null, null, index), function (c, r) {
                        c.Data = r.Data.Items;
                        pagination(index, r.Data.Pages);
                    })
                }

            }
            else {
                bindVue(lstBlogControl, SiteSearch(null, null, null, index), function (c, r) {
                    c.Data = r.Data.Items;
                    pagination(index, r.Data.Pages);
                })
            }
        }

        function blogSearch() {
            var text = $('#txtSearch').val();

            if (text) {
                window.location.href = "/search/" + encodeURIComponent(text) + ".html";
            }
        }
    </script>
</body>

</html>