@media (min-width:768px) {
    .container {
        width: 503px
    }
}

@media (min-width:992px) {
    .container {
        width: 723px
    }
}

@media (min-width:1200px) {
    .container {
        width: 923px
    }
}

@media (min-width:1432px) {
    .container {
        width: 1170px
    }
}

body {
    padding-top: 70px
}

.navbar-fixed-left, .navbar-fixed-right {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030
}

@media (min-width:768px) {
    .navbar-fixed-left, .navbar-fixed-right {
        width: 232px;
        height: 100vh;
        border-radius: 0
    }

        .navbar-fixed-left .container, .navbar-fixed-left .container-fluid, .navbar-fixed-right .container, .navbar-fixed-right .container-fluid {
            padding-right: 0;
            padding-left: 0;
            width: auto
        }

        .navbar-fixed-left .navbar-header, .navbar-fixed-right .navbar-header {
            float: none;
            padding-left: 15px;
            padding-right: 15px
        }

        .navbar-fixed-left .navbar-collapse, .navbar-fixed-right .navbar-collapse {
            padding-right: 0;
            padding-left: 0;
            max-height: none
        }

            .navbar-fixed-left .navbar-collapse .navbar-nav, .navbar-fixed-right .navbar-collapse .navbar-nav {
                float: none !important
            }

                .navbar-fixed-left .navbar-collapse .navbar-nav > li, .navbar-fixed-right .navbar-collapse .navbar-nav > li {
                    width: 100%
                }

                    .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu, .navbar-fixed-right .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
                        top: 0
                    }

                .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right, .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right {
                    margin-right: 0
                }
}

@media (min-width:768px) {
    body {
        padding-top: 0;
        margin-left: 160px
    }

    .navbar-fixed-left {
        right: auto !important;
        left: 0 !important;
        border-width: 0 1px 0 0 !important;
        background-color: #eaeaea;
        background-image: none;
        border: none;
    }

        .navbar-fixed-left .dropdown .dropdown-menu {
            left: 100%;
            right: auto;
            border-radius: 0 3px 3px 0
        }

        .navbar-fixed-left .dropdown .dropdown-toggle .caret {
            border-top: 4px solid transparent;
            border-left: 4px solid;
            border-bottom: 4px solid transparent;
            border-right: none
        }
}


.link_white_color {
    color: white;
}

body {
}



.main_menu {
}

    .main_menu img {
        margin-top: -2px;
        margin-right: 6px;
    }

.navbar-inverse .navbar-nav > li > a {
    color: #424141;
    padding-left: 40px;
    border-bottom-style: solid;
    border-bottom-color: white;
    font-size: 11pt;
    border-bottom-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        background-color: #808080;
        color: white;
    }

.admin-log {
    background-image: url(../images/admin.png);
}

.page-title {
    height: 50px;
    background-color: #eaeaea;
    padding-left: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020
}

.container {

    margin-left: 80px;
    margin-right:0px;
}

.page-title img {
    float: left;
    padding-top: 8px;
    padding-right: 6px;
}

.page-title h3 {
    color: #424141;
    font-size: 12pt;
    margin-top: 16px;
}

.valueLabel {
    min-width: 80px;
    text-align: right;
    display: inline-flex;
}

.values {
    min-width: 120px;
    display: inline-flex;
}

.container {
    padding-top: 60px;
}

h1 {
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
}

h4 {
    margin-top: 10px;
}

h5 {
    margin-top: 10px;
}

h6 {
    margin-top: 10px;
}

h7 {
    margin-top: 10px;
}
